<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <http pattern="/favicon.ico" security="none" />
    <http auto-config="true" use-expressions="true">


        <intercept-url pattern="/login1" access="hasRole('ANONYMOUS')"/>
        <intercept-url pattern="/compare" access="hasRole('ANONYMOUS') or hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/*" access="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')"/>



        <form-login login-page="/login1"
                    default-target-url="/index"
                    authentication-failure-url="/loginfailed"
                    username-parameter="j_username"
                    password-parameter="j_password"
                    login-processing-url="/j_spring_security_check"
        />

        <csrf disabled="true"/>

    </http>
<!--
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="sha"/>
            <user-service>
                <user name="admin" password="40bd001563085fc35165329ea1ff5c5ecbdbbeef"
                      authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
    -->



    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="usersService">
        </authentication-provider>
    </authentication-manager>

</beans:beans>